<header xmlns:th="http://www.thymeleaf.org"
	data-th-fragment="frag-entete">
	
<section id="entete-titre">
	<a href="/"><img data-th-src="@{/images/logoENI.png}" alt="logo de ENI"><span>Eni-Encheres</span></a>
</section>
<button id="menu" class="showMobile">
	<span id="menuBar1"></span>
	<span id="menuBar2"></span>
	<span id="menuBar3"></span>
</button>
<nav id="navContainer" class="hideMobile">
	<ul>
			<li ><a href="/" data-th-text="#{frag-entete.a.accueil}"></a></li>
			
			<!-- A declencher quand la méthode pour enregistrer les membres en session sera OK -->
			<li data-th-if="${!#authorization.expression('isAuthenticated()')}">
				<a href="/login" data-th-text="#{frag-entete.a.connecter}"></a>
			</li>
			
			<li data-th-if="${#authorization.expression('isAuthenticated()') and #authorization.expression('hasRole(''USER'')')}">
				<a href="/vendre" data-th-text="#{frag-entete.a.vendre}"></a>
			</li>
			
			<li data-th-if="${#authorization.expression('isAuthenticated()') and #authorization.expression('hasRole(''USER'')')}">
				<a href="/utilisateur/profil" data-th-text="#{frag-entete.a.profil}"></a>
			</li>
			
			<li data-th-if="${#authorization.expression('isAuthenticated()')}">
				<a href="/logout" data-th-text="#{frag-entete.a.deconnecter}"></a>
			</li>
			
			
		</ul>
</nav>

</header>