<th:block xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-statut">
	
	<h1 data-th-if="${showNomArticle}" data-th-text="${article.nom}" class="main-title"></h1>

	<th:block data-th-switch="${cloture}">
		<h1 data-th-case="'acquereur'">Vous avez remporté la vente</h1>
		<h1 data-th-case="'vendeur'"><a data-th-href="@{/utilisateur/profil(id=${acquereur})}" data-th-text="${acquereur}"></a> a remporté la vente</h1>
		<h1 data-th-case="'clotureSansAcquereur'">Aucun individu ne s'est porté acquéreur :(</h1>
	</th:block>

	<th:block data-th-switch="${statut}">
		<h1 data-th-case="'livraison'">Vous avez livré à <span data-th-text="${acquereur}"></span></h1>
	</th:block>
	
</th:block>







