<div xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-encart"
	id="encart">

	<div id="contenu">
		<ul>
			<li th:text="'Date du jour : ' + ${#dates.format(#dates.createNow(), 'dd MMM yyyy')}"></li>

			<li>
				<!-- A declencher quand la méthode pour enregistrer les membres en session sera OK -->
			 <th:block data-th-if="${#authorization.expression('isAuthenticated()')}">Participant : <span data-th-text="${#authentication.name}"></span>
			</th:block> 
			</li>

		</ul>
	</div>

</div>
