
<form xmlns:th="http://www.thymeleaf.org" data-th-action="@{/rechercher}" method="post" data-th-fragment="frag-filtre">

	<div>
		<input type="text" id="inputName" name="nomRecherche" placeholder="Le nom de l'article contient :" min='5'
			maxlength="30" data-th-value="${nomRecherche}">
		<div class="row">
			<label for="inputCategorie">Catégories</label>
			<select id="inputCategorie" name="categorieRecherche" data-th-value="${categorieRecherche}">
				<option value="0">Toutes</option>
				<option data-th-each="categorie : ${listCategorie}" data-th-text="${categorie.libelle}"
					data-th-value="${categorie.id}" th:selected="(${categorie.id} == ${categorieRecherche})"
				></option>
			</select>
		</div>
	</div>
	<div>
		<input type="submit" value="Rechercher" class="btnPrimaire">
		<a href="/" class="btnNeutre">Annuler</a>
	</div>

	<div class="radiosContainer">
		<div><input type="radio" id="achats" name="buySell" checked> <label for="achats">Achats</label></div>
		<div><input type="radio" id="ventes" name="buySell"> <label for="ventes">Mes Ventes</label></div>
	</div>
	<div class="select-filtre">
		<select id="inputcasUtilisationFiltres" name="casUtilisationFiltres" data-th-value="${casUtilisationFiltres}">
			<option value="0" selected>Enchères ouvertes</option>
			<option value="1">Mes enchères en cours</option>
			<option value="2">Mes enchères remportées</option>
			<option value="3">Mes ventes en cours</option>
			<option value="4">Mes ventes non débutées</option>
			<option value="5">Mes ventes terminées</option>
		</select>
	</div>

</form>