<header xmlns:th="http://www.thymeleaf.org"
	data-th-fragment="frag-entete">
	
<section id="entete-titre">
	<a href="/"><img data-th-src="@{/images/logoENI.png}"><span>Eni-Encheres</span></a>
</section>

<nav>
	<ul>
			<li ><a href="/">Accueil</a></li>
			
			<!-- A declencher quand la méthode pour enregistrer les membres en session sera OK -->
			<li data-th-if="${!#authorization.expression('isAuthenticated()')}">
				<a href="/login">S'inscrire - Se Connecter</a>
			</li>
			
			<li data-th-if="${#authorization.expression('isAuthenticated()')}">
				<a href="/vendre">Vendre un article</a>
			</li>
			
			<li data-th-if="${#authorization.expression('isAuthenticated()')}">
				<a href="">Mon profil</a>
			</li>
			
			<li data-th-if="${#authorization.expression('isAuthenticated()')}">
				<a href="/logout">Se déconnecter</a>
			</li>
			
			
		</ul>
</nav>

</header>