
.articleCard{
    margin: 5px;
    padding-top: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 120px;
    width: 200px;
    background-color: #134a7f;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    color: white;
}
.articleCard h2{
    font-size: 1,5rem;
}
.articleCard h3{
    font-size: 1rem;
}