

h1 {
	display: flex;
	justify-content: center;
}

main {
	display: flex;
}

#bloc {
	display: flex;
	flex-direction : row;
	padding: 5%;
}

#bloc1 {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 50vh;
}

#bloc2 {
	display: flex;
	flex-direction: column;
	width: 50vh;
}

#tag {
	padding-top: 5%;
}

#set {
	padding-top: 5%;
}

button {
	padding: 20px;
	border : 3px solid;
	background-color: white;
	box-shadow: 5px 5px 0px 1px black;
}