@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: sans-serif;
}

/* Fragment Entete */

header {
	display : flex;
	align-items: baseline;
	justify-content: space-between;
	padding : 0.8%;
}

#entete-title {
	display : flex;
	font-size: 1.3em;
}

#entete-title a {
	text-decoration: none;
	color: black;
}
 
 header li {
	list-style: none;
	display: inline-block;
	padding: 0 20px;
}

/* Fragment Encart */

#encart {
	display: flex;
	list-style-type: none;
	justify-content : flex-end;
	
}

#contenu {
	display : flex;
	flex-direction: column;
	border: 3px solid ;
	padding: 0.5%;
}


/* Formulaire login */
a {
	text-decoration: none;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    gap: 16px;
}

.form > div:not(.btnActions) {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.btnActions {
	display: flex;	
	align-items: center;
	gap: 16px;
}

.btnPrimaire {
	display: flex;
	background: #004982;
    border: none;
    padding: .8em 1.25em;
    border: 1px solid;
    border-radius: 8px;
    color: white;
    border: navajowhite;
    text-transform: uppercase;
    cursor: pointer;
    justify-content: center;
}

.btnSecondaire {
	background-color: teal;
}
.listErrors {
	color: red;
    background-color: pink; 
    padding: 1em;
}
.errors {
    text-align: center;
    width: max-content;
}