@media all and (max-width:1024px) {
	#creer-compte-form {
		width: 80%;
	}
}

@media all and (max-width:768px) {
	.form>div:not(.btnActions) {
		align-items: center;
		gap: 8px;
		flex-direction: column;
		align-items: stretch;
		width: 100%;
	}
	.form {
		flex-direction: column;
		width: 50%;
	}
	.form .input {
		margin-bottom: 8px;
		width: -webkit-fill-available;
	}
	.filterSection ul {
		width: 100%
	}
	.articleCard {
		width: 100%;
	}
	.filterSection form li {
		flex-direction: column;
		align-items: flex-start;
	}
	.showMobile {
		display: block;
	}
	#menu {
		height: 48px;
		width: 48px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 8px;
		background-color: hsl(206 20% 25%/ 1);
		border: none;
		position: relative;
		align-items: center;
	}
	#menu span {
		display: block;
		height: 2px;
		width: 100%;
		background-color: white;
		transition: all 0.25s ease-in;
	}
	.hideMobile {
		display: none;
	}
	#navContainer {
		position: absolute;
		top: 80px;
		right: 0;
		padding: 2rem;
		background: hsl(206 20% 25%/ 1);
	}
	#navContainer ul {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}
	header nav a {
		color: var(--background);
	}
	header nav a:hover {
		color: var(--accent);
	}
	.rotate45 {
		transform: rotate(45deg);
		transform-origin: center;
		position: absolute;
		width: 50% !important;
	}
	.rotateMinus45 {
		transform: rotate(-45deg);
		transform-origin: center;
		position: absolute;
		width: 50% !important;
	}
	#menu .hide {
		display: none;
	}
	#creer-compte-form {
		width: 90%;
	}
}

/* Responsive */
@media screen and (max-width: 750px) {
}

@media all and (max-width: 576px) {
	.form {
		gap: 0;
		width: 100%;
	}
	.form div, label {
		flex-direction: column;
		width: 100%;
	}
	.btnActions {
		row-gap: 16px;
	}
	.form>div:not(.btnActions) {
		align-items: flex-start;
		width: inherit;
		justify-content: inherit;
		align-items: inherit;
	}
	#creer-compte-form .container-div-input {
		grid-template-columns: 1fr;
	}
	.listErrors {
		width: auto !important;
	}
	#forgetPassword {
		margin-bottom: 32px;
		align-self: flex-end;
	}
	.form .btnPrimaire {
		width: -webkit-fill-available;
	}
	.article-vente {
		flex-wrap: wrap;
	}
	.article-vente section {
		width: 100%;
	}
	.warning {
		width: 100%;
		text-align: center;
	}
	#creer-compte-form {
		width: 100%;
	}
	#set button {
		width: 100%;
	}
}