<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-enchere(
			titrePage=~{:: title}, 
			contenuPage=~{:: main}, 
			ressourceSupp=~{})}"
>
<head>
<title data-th-text="#{error.page.title}"></title>
</head>
<body>
	<main class="main-errors">
		<th:block th:switch="${status}">
			<th:block th:case="'404'">
				<h1>Page non trouvée</h1>
			</th:block>
			<th:block th:case="'500'">
				<h1>Erreur interne du serveur</h1>
			</th:block>
			<th:block th:case="'403'">
				<h1>Accès refusé</h1>
			</th:block>
			<th:block th:case="*">
				<h1 th:text="${status}"></h1>
			</th:block>
		</th:block>

		<a data-th-text="#{error.page.a}" href="/"></a>
	</main>
</body>
</html>