<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-enchere(
			titrePage=~{:: title}, 
			contenuPage=~{:: main}, 
			ressourceSupp=~{:: link})}">
<head>
<title>Enchères en Cours</title>
<link rel="stylesheet" data-th-href="@{/css/article-card.css}">
</head>
<body>
	<main>
		<h1>Liste des enchères</h1>
		<div class="listCard">
			<div class="articleCard" data-th-each="article : ${articlesAVendre}">
				<h2 data-th-text="${article.nom}"></h2>
				<div class="articleCardDetails" >
					<h3>
						Prix : <span data-th-if="${article.prixVente != 0}" data-th-text="${article.prixVente}"></span>
						<span data-th-if="${article.prixVente == 0}" data-th-text="${article.prixInitial}"></span> point(s)
					</h3>
					<h3>
						Fin de l'enchère : <span data-th-text="${#temporals.format(article.dateFinEncheres, 'dd/MM/yyyy')}"></span>
					</h3>
					<h3>
						Vendeur : <span data-th-text="${article.vendeur.pseudo}"></span>
					</h3>
				</div>
			</div>
		</div>


	</main>
</body>
</html>