<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-th-replace="~{layouts/layout :: layout-enchere(
			titrePage=~{:: title}, 
			contenuPage=~{:: main}, 
			ressourceSupp=~{})}">
	<head>
		<title data-th-text="#{login.title}"></title>
	</head>
	<body>
	<main>
	
	<!-- Affichage du message d'erreur -->
		<form data-th-action="@{/login}"  method="post" class="form">
	<div data-th-if="${errorMessage}" th:text="${errorMessage}" class="listErrors"></div>
			<div>
				<label for="username" data-th-text="#{login.username}"></label>
				<input type="text" name="username" id="username" required class="input">
			</div>
			<div>
				<label for="password" data-th-text="#{login.pwd}"></label>
				<input type="password" name="password" id="password" required class="input">
			</div>
			<div>
				<input type="submit" value="Connexion" class="btnPrimaire">
				<a id="forgetPassword" href="" data-th-text="#{login.pwd_oublie}"></a>
			</div>
		<a data-th-href="@{/utilisateur/creer-compte}" class="btnPrimaire btnSecondaire" data-th-text="#{login.creation}"></a> 
		</form>
		
	</main>
	</body>
</html>
