<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-enchere(
			titrePage=~{:: title}, 
			contenuPage=~{:: main}, 
			ressourceSupp=~{:: link})}"
>

<head>
<title>Mon profil</title>
<link rel="stylesheet" data-th-href="@{/css/view-profil.css}"> 
<!--  <link rel="stylesheet" data-th-href="@{/css/formulaire-vente.css}">-->
</head>

<body>
	<main>
        <section class="profil">
            <h2 data-th-text="${utilisateur.pseudo}"></h2>
            <p data-th-text="${utilisateur.prenom}"></p>
            <p data-th-text="${utilisateur.nom}"></p>
            <p data-th-text="${utilisateur.email}"></p>
            <p data-th-text="${utilisateur.telephone}"></p>
            <a data-th-href="@{/}"><button>Retour</button></a>
            <a data-th-href="@{/}"><button>Modifier</button></a>
        </section>
    </main>
</body>
</html>