<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-enchere(
			titrePage=~{:: title}, 
			contenuPage=~{:: main}, 
			ressourceSupp=~{:: link})}"
>

<head>
<title>Modifier mon profil</title>
</head>

<body>
	<main>

		<h1>Modifier profil</h1>
		<form class="form" method="post" data-th-action="@{/utilisateur/modifier-profil}" data-th-object="${utilisateur}">
			<div>
				<p>
					<span data-th-text="#{view-profil-form.pseudo}" class="label-profil-form"></span>
					<span data-th-text="${#authentication.name}"></span>
				</p>
				<div>
					<label for="nom" data-th-text="#{view-profil-form.label.nom}"></label>
					<input type="text" id="nom" data-th-field="*{nom}" required>
					<ul data-th-if="${#fields.hasErrors('nom')}" class="listErrors">
						<li th:each="err : ${#fields.errors('nom')}" th:text="${err}"></li>
					</ul>
				</div>

			</div>

			<div>
				<div>
					<label for="prenom" data-th-text="#{view-profil-form.label.prenom}"></label>
					<input type="text" id="prenom" data-th-field="*{prenom}" required>
					<ul data-th-if="${#fields.hasErrors('prenom')}" class="listErrors">
						<li th:each="err : ${#fields.errors('prenom')}" th:text="${err}"></li>
					</ul>
				</div>
				<div>
					<label for="email" data-th-text="#{view-profil-form.label.email}"></label>
					<input type="email" id="email" data-th-field="*{email}" required>
					<ul data-th-if="${#fields.hasErrors('email')}" class="listErrors">
						<li th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
					</ul>
				</div>
			</div>
			<div>
				<label for="telephone" data-th-text="#{view-profil-form.label.telephone}"></label>
				<input type="tel" id="telephone" data-th-field="*{telephone}">
				<ul data-th-if="${#fields.hasErrors('telephone')}" class="listErrors">
					<li th:each="err : ${#fields.errors('telephone')}" th:text="${err}"></li>
				</ul>
			</div>
			<div>
				<label for="adresse.rue" data-th-text="#{view-profil-form.label.adresse}"></label>
				<div>
					<input id="adresse.rue" data-th-field="*{adresse.rue}">
					<ul data-th-if="${#fields.hasErrors('adresse.rue')}" class="listErrors">
						<li th:each="err : ${#fields.errors('adresse.rue')}" th:text="${err}"></li>
					</ul>
				</div>
				<div>
					<input id="adresse.codePostal" data-th-field="*{adresse.codePostal}">
					<ul data-th-if="${#fields.hasErrors('adresse.codePostal')}" class="listErrors">
						<li th:each="err : ${#fields.errors('adresse.codePostal')}" th:text="${err}"></li>
					</ul>
				</div>
				<div>
					<input id="adresse.ville" data-th-field="*{adresse.ville}">
					<ul data-th-if="${#fields.hasErrors('adresse.ville')}" class="listErrors">
						<li th:each="err : ${#fields.errors('adresse.ville')}" th:text="${err}"></li>
					</ul>
				</div>
			</div>
			<div>
				<p>
					<span data-th-text="#{view-profil-form.credit}" class="label-profil"></span>
					<span data-th-text="${utilisateur.credit}"></span>
					<span data-th-text="#{view-profil-form.points}" class="label-profil-form"></span>
				</p>
				<input type="hidden" data-th-field="*{credit}">
			</div>

			<!-- Affichage des Exceptions -->
			<ul data-th-if="${#fields.hasErrors('global')}" class="listErrors">
				<li th:each="err : ${#fields.errors('global')}" th:text="#{${err}}"></li>
			</ul>

			<div>
				<input type="hidden" data-th-field="*{adresse.id}">
				<input type="submit" value="Modifier" class="btnPrimaire">
				<a data-th-href="@{/utilisateur/modifier-mot-de-passe}" class="btnPrimaire btnSecondaire">Modifier mot de passe</a>
				<a data-th-href="@{/utilisateur/profil}" class="btnNeutre">Annuler</a>
			</div>
		</form>

	</main>

</body>
</html>
