<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-enchere(
			titrePage=~{:: title}, 
			contenuPage=~{:: main}, 
			ressourceSupp=~{:: link})}"
>

<head>
<title>Modifier mon profil</title>
<link rel="stylesheet" data-th-href="@{/css/view-profil-form.css}">

<!--  <link rel="stylesheet" data-th-href="@{/css/formulaire-vente.css}">-->
</head>

<body>
	<main>
        <h2>Mon Profil</h2>
        <div class="profile-details">
            <div class="left-column">
                <div class="profile-info">
                    <div class="vpfcategory-info">
                        <p class="vpfcategory">Pseudo:</p>
                        <p data-th-text="${utilisateur.pseudo}"></p>
                    </div>
                    <div class="vpfcategory-info">
                        <p class="vpfcategory">Prénom:</p>
                        <p data-th-text="${utilisateur.prenom}"></p>
                    </div>
                    <div class="vpfcategory-info">
                        <p class="vpfcategory">Téléphone:</p>
                        <th:block data-th-if="${utilisateur.telephone != null}"><p data-th-text="${utilisateur.telephone}"></p></th:block>
                         <th:block data-th-if="${utilisateur.telephone == null}"><p>Non renseigné</p></th:block>
                    </div>
                    <div class="vpfcategory-info">
                        <p class="vpfcategory">Adresse:</p>
                        <p data-th-text="${utilisateur.adresse.rue+' '+utilisateur.adresse.codePostal}"></p>
                    </div>
                    <div class="vpfcategory-info">
                        <p class="vpfcategory">Mon crédit:</p>
                        <p data-th-text="${utilisateur.credit}"></p>
                    </div>
                </div>
            </div>
            <div class="right-column">
                <div class="profile-info">
                    <div class="vpfcategory-info">
                        <p class="vpfcategory">Nom:</p>
                        <p data-th-text="${utilisateur.nom}"></p>
                    </div>
                    <div class="vpfcategory-info">
                        <p class="vpfcategory">Email:</p>
                        <p data-th-text="${utilisateur.email}"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button class="modifier">Modifier</button>
            <button class="modifier-mdp">Modifier Mot de Passe</button>
            <button class="supprimer">Supprimer Mon Compte</button>
        </div>
    </main>
    <footer></footer>
</body>
</html>
