<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-enchere(
			titrePage=~{:: title}, 
			contenuPage=~{:: main}, 
			ressourceSupp=~{})}"
>
<head>
<title data-th-text="#{view-creer-compte.title}"></title>
</head>
<body>
	<main>
		<form id="creer-compte-form" class="form" data-th-action="@{/utilisateur/creer-compte}"
			data-th-object="${utilisateur}" method="post"
		>
			<h2 data-th-text="#{view-creer-compte.h2}"></h2>

			<div class="container-div-input">
				<div>
					<label for="pseudo" data-th-text="#{view-creer-compte.pseudo}"></label>
					<input type="text" data-th-field="*{pseudo}" required class="input">
					<ul data-th-if="${#fields.hasErrors('pseudo')}" class="listErrors">
						<li th:each="err : ${#fields.errors('pseudo')}" th:text="${err}"></li>
					</ul>
				</div>
				<div>
					<label for="nom" data-th-text="#{view-creer-compte.nom}"></label>
					<input type="text" data-th-field="*{nom}" required class="input">
					<ul data-th-if="${#fields.hasErrors('nom')}" class="listErrors">
						<li th:each="err : ${#fields.errors('nom')}" th:text="${err}"></li>
					</ul>
				</div>
				
			</div>
			
			
			<div class="container-div-input">
				<div>
					<label for="prenom" data-th-text="#{view-creer-compte.prenom}"></label>
					<input type="text" data-th-field="*{prenom}" required class="input">
					<ul data-th-if="${#fields.hasErrors('prenom')}" class="listErrors">
						<li th:each="err : ${#fields.errors('prenom')}" th:text="${err}"></li>
					</ul>
				</div>
				<div>
					<label for="email" data-th-text="#{view-creer-compte.email}"></label>
					<input type="text" data-th-field="*{email}" required class="input">
					<ul data-th-if="${#fields.hasErrors('email')}" class="listErrors">
						<li th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
					</ul>
				</div>
			</div>
			<div class="container-div-input">
				<div>
					<label for="telephone" data-th-text="#{view-creer-compte.telephone}"></label>
					<input type="text" data-th-field="*{telephone}" class="input">
					<ul data-th-if="${#fields.hasErrors('telephone')}" class="listErrors">
						<li th:each="err : ${#fields.errors('telephone')}" th:text="${err}"></li>
					</ul>
				</div>
			</div>
			<div>
				<label for="adresse.rue" data-th-text="#{view-creer-compte.adresse}"></label>
				<input type="text" data-th-field="*{adresse.rue}" placeholder="Rue" class="input">
				<input type="text" data-th-field="*{adresse.codePostal}" placeholder="Code Postal" class="input">
				<input type="text" data-th-field="*{adresse.ville}" placeholder="Ville" class="input">
			</div>
			
			<div>
				<ul data-th-if="${#fields.hasErrors('adresse.codePostal')}" class="listErrors">
						<li th:each="err : ${#fields.errors('adresse.codePostal')}" th:text="${err}"></li>
				</ul>
				<ul data-th-if="${#fields.hasErrors('adresse.ville')}" class="listErrors">
						<li th:each="err : ${#fields.errors('adresse.ville')}" th:text="${err}"></li>
				</ul>
				
			</div>
			<div class="container-div-input">
				<div>
					<label for="motDePasse" data-th-text="#{view-creer-compte.pwd}"></label>
					<input type="password" data-th-field="*{motDePasse}" required class="input">
				</div>
				<div>
					<label for="confirmationMdp" data-th-text="#{view-creer-compte.pwd_confirmation}"></label>
					<input type="password" name="confirmationMdp" id="confirmationMdp" required class="input">
				</div>
			</div>
				<ul data-th-if="${#fields.hasErrors('motDePasse')}" class="listErrors">
						<li th:each="err : ${#fields.errors('motDePasse')}" th:text="${err}"></li>
				</ul>
			<!-- Affichage des Exceptions -->
			<ul data-th-if="${#fields.hasErrors('global')}" class="listErrors">
				<li th:each="err : ${#fields.errors('global')}" th:text="${err}"></li>
			</ul>
	

			<div class="btnActions">
				<input type="submit" value="Créer" class="btnPrimaire">
				<a href="/" class="btnPrimaire btnSecondaire" data-th-text="#{view-creer-compte.annuler}"></a>
			</div>
		</form>
	</main>

</body>
</html>
