<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-enchere(
			titrePage=~{:: title}, 
			contenuPage=~{:: main}, 
			ressourceSupp=~{:: link})}"
>
<head>
<title data-th-text="#{index.title}"></title>
</head>
<body>
	<main class="main-errors">

		<img data-th-src="@{/images/logoErreur.png}" alt="logo d'erreur" class="logo-erreur">

		<th:block data-th-if="${errorBLL}">
			<h1 data-th-each="err : ${errorBLL}" data-th-text="#{${err}}" class="main-title"></h1>
		</th:block>

		<h1 data-th-text="${retraitError}" class="main-title"></h1>

		<a href="/">Retourner à l'accueil</a>
	</main>
</body>
</html>