<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-enchere(
			titrePage=~{:: title}, 
			contenuPage=~{:: main}, 
			ressourceSupp=~{})}"
>
<head>
<title data-th-text="#{view-detail-vente.title}"></title>
</head>
<body>
	<main class="main-detail-vente">
		
			<th:block data-th-replace="~{fragments/fragment-statut-detail-vente :: frag-statut}"></th:block>
			
			<!-- DESCRIPTION ARTICLE EN VENTE-->
			<div data-th-replace="~{fragments/fragment-detail-vente :: frag-detail-vente}"></div>
			<a data-th-if="${leVendeurEstConnecte and article.statut == 0}" class="btnPrimaire" data-th-href="@{/vendre/modifier(id=${article.id})}">Modifier</a>

			
			<!-- SI UTILISATEUR CONNECTE DIFFERENT DU VENDEUR, AFFICHER FORMULAIRE"-->
			<th:block data-th-if="${utilisateur.credit >= enchere.montant and article.statut == 1 and !leVendeurEstConnecte}">
				<form data-th-replace="~{fragments/fragment-form-enchere :: frag-form-enchere}"></form>				
			</th:block>
			
			<!-- SI UTILISATEUR N'A PAS ASSEZ DE CREDIT AFFICHER MESSAGE"-->
			<p data-th-if="${utilisateur.credit < enchere.montant and !leVendeurEstConnecte and article.statut == 1}" class="warning" >Vous n'avez pas assez de crédit pour enchérir</p>
			
			<!-- SI VENDEUR EST CONNECTE ET STATUT 2"-->
			<a data-th-if="${cloture == 'vendeur'}" data-th-href="@{/encheres/retrait(id=${article.id})}" class="btnPrimaire">Retrait effectué</a>
		
			<a href="/">Retourner à l'accueil</a>
	</main>

</body>
</html>
