<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-enchere(
			titrePage=~{:: title}, 
			contenuPage=~{:: main}, 
			ressourceSupp=~{})}"
>
<head>
<title data-th-text="#{view-detail-vente.title}"></title>
</head>
<body>
	<main class="main-detail-vente">
		
			<h1 data-th-if="${showNomArticle}" data-th-text="${article.nom}" class="main-title"></h1>
		
			<th:block data-th-switch="${cloture}">
			   <h1 data-th-case="'acquereur'">Vous avez remporté la vente</h1>
			   <h1 data-th-case="'vendeur'"><a data-th-href="@{/utilisateur/profil(id=${acquereur})}" data-th-text="${acquereur}"></a> a remporté la vente</h1>
			   <h1 data-th-case="'clotureSansAcquereur'">Aucun individu ne s'est porté acquéreur :(</h1>
			</th:block>

			<th:block data-th-switch="${statut}">
			   <h1 data-th-case="'livraison'">Vous avez livré à <span data-th-text="${acquereur}"></span></h1>
			   <h1 data-th-case="'annulee'" data-th-text="${article.nom + ' (annulée)'}" class="main-title"></h1>
			</th:block>
			
			<!-- DESCRIPTION ARTICLE EN VENTE-->
			<div data-th-replace="~{fragments/fragment-detail-vente :: frag-detail-vente}"></div>

			<a data-th-if="${leVendeurEstConnecte and article.statut == 0}" class="btnPrimaire" data-th-href="@{/vendre/modifier(id=${article.id})}">Modifier</a>
			
			<!-- SI UTILISATEUR CONNECTE DIFFERENT DU VENDEUR, AFFICHER FORMULAIRE"-->
			<th:block data-th-if="${utilisateur.credit >= enchere.montant and article.statut == 1 and !leVendeurEstConnecte}">
				<form data-th-replace="~{fragments/fragment-form-enchere :: frag-form-enchere}"></form>				
			</th:block>
			
			<!-- SI UTILISATEUR N'A PAS ASSEZ DE CREDIT AFFICHER MESSAGE"-->
			<p data-th-if="${utilisateur.credit < enchere.montant and !leVendeurEstConnecte and article.statut == 1}" class="warning" >Vous n'avez pas assez de crédit pour enchérir</p>
			
			<!-- SI VENDEUR EST CONNECTE ET STATUT 2"-->
			<a data-th-if="${cloture == 'vendeur'}" data-th-href="@{/encheres/retrait(id=${article.id})}" class="btnPrimaire">Retrait effectué</a>
		
			<a href="/">Retourner à l'accueil</a>
	</main>

</body>
</html>
