<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    data-th-replace="~{layouts/layout :: layout-enchere(
        titrePage=~{:: title}, 
        contenuPage=~{:: main}, 
        ressourceSupp=~{:: link})}"
>

<head>

<title>Modifier mon mot de passe</title>
<link rel="stylesheet" data-th-href="@{/css/view-mdp.css}">

</head>

<body>
    <main>
        <h1>Modifier mot de passe</h1>
        <form id="modifer-mot-de-passe" class="form" method="post" data-th-action="@{/utilisateur/modifier-mot-de-passe}">
            <div>
                <label id="motdepasse">Mot de passe actuel (*): </label>
                <input type="password" name="ancienMotDePasse" required>
            </div>
            <div>
                <label for="newMotDePasse">Nouveau mot de passe (*): </label>
                <input id="newMotDePasse" type="password" name="motDePasse" required>
            </div>
            <div>
                <label for="confirmMotDePasse">Confirmation mot de passe (*): </label>
                <input id="confirmMotDePasse" type="password" name="confirmationMdp" required>
            </div>
          	<div>
                <input type="submit" value="modifier" class="btnPrimaire">
                <a data-th-href="@{/}" class="btnAnnuler">Annuler</a>
            </div>
			<ul data-th-if="${errorBLL}" class="listErrors">
				<li data-th-each="err : ${errorBLL}" data-th-text="#{${err}}"></li>
			</ul>	
        </form>
    </main>
    <footer></footer>
</body>

</html>
