<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	data-th-replace="~{layouts/layout :: layout-enchere(
			titrePage=~{:: title}, 
			contenuPage=~{:: main}, 
			ressourceSupp=~{})}"
>
<head>
<title>Créer un compte</title>
</head>
<body>
	<main>
		<form id="creer-compte-form" class="form" data-th-action="@{/utilisateur/creer-compte}"
			data-th-object="${utilisateur}" method="post"
		>
			<h2>Nouveau Profil</h2>

			<div>
				<div>
					<label for="pseudo">Pseudo (*):</label>
					<input type="text" data-th-field="*{pseudo}" required class="input">
				</div>
				<div>
					<label for="nom">Nom (*): </label>
					<input type="text" data-th-field="*{nom}" required class="input">
				</div>
			</div>
			
			
			<div>
				<div>
					<label for="prenom">Prenom (*): </label>
					<input type="text" data-th-field="*{prenom}" required class="input">
				</div>
				<div>
					<label for="email">Email (*): </label>
					<input type="text" data-th-field="*{email}" required class="input">
				</div>
			</div>
			<div>
				<div>
					<label for="telephone">Téléphone: </label>
					<input type="text" data-th-field="*{telephone}" class="input">
				</div>
			</div>
			<div>
				<label for="adresse">Adresse (*): </label>
				<input type="text" data-th-field="*{adresse.rue}" placeholder="Rue" class="input">
				<input type="text" data-th-field="*{adresse.codePostal}" placeholder="Code Postal" class="input">
				<input type="text" data-th-field="*{adresse.ville}" placeholder="Ville" class="input">
			</div>
			<div>
				<div>
					<label for="motDePasse">Mot de passe (*): </label>
					<input type="password" data-th-field="*{motDePasse}" required class="input">
				</div>
				<div>
					<label for="confirmationMdp">Confirmation du mot de passe (*):</label>
					<input type="password" name="confirmationMdp" id="confirmationMdp" required class="input">
				</div>
			</div>

			<!-- Affichage des Exceptions -->
			<ul data-th-if="${#fields.hasErrors('*')}" class="listErrors">
				<li th:each="err : ${#fields.errors('*')}" th:text="#{${err}}"></li>
			</ul>
	

			<div class="btnActions">
				<input type="submit" value="Créer" class="btnPrimaire">
				<a href="/" class="btnPrimaire btnSecondaire">Annuler</a>
			</div>
		</form>
		<script type="module" src="/js/index.js"></script>
	</main>

</body>
</html>
